table thead tr th {
    text-align: center;
    vertical-align: middle;
}

table tbody tr td {
    text-align: center;
    vertical-align: middle;
}

.input_td {
	width: 50px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

/* Live - events: hoanghung*/
.list_live table {
    margin: 20px 0px;
}

.list_live table tr td a {
    cursor: pointer;
}

.list_live .form-search-2 .input-group {
    width: 100%;
}

.create-live .box-result {
    padding: 0;
}

.create-live .button-save-live {
    padding-left: 0;
}

#editLive .modal-dialog {
    width: 70%;
}

.box-create-event .form-group {
    margin: 0;
}

.box-create-event .showcase-switch-button {
    float: right;
}

.box-create-event .home-team {
    margin-bottom: 20px;
}

.create-event ul {
    display: inline-block;
    float: left;
    width: 100%;
}

.create-event .panel {
    width: 100%;
}

.create-event .timeline .tl-icon {
    width: auto;
}

.create-event .result .ti-so h3 {
    text-align: center;
    color: red;
    font-size: 36px;
    margin-top: 2px;
}

.create-event .event-important .event-left,
.create-event .event-important .event-right3 {
    width: 90%;
}

.create-event .event-important {
    background-color: inherit;
}

.create-event .event-important .icon-event {
    padding-left: 0;
    padding-right: 0;
}

.create-event .event-important i,
.box-reviewlive table tr td i {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    display: inline-block;
    float: left;
    background-size: contain !important;
}

.create-event table tr:hover i.fa.fa-close {
    opacity: 1;
}

.create-event .event-important i.fa.fa-close {
    opacity: 0;
}

.create-event i.fa.fa-close {
    float: right;
    cursor: pointer;
}

.create-event .event-important i.icon-goal,
.box-reviewlive table tr td i.icon-goal {
    background: url("http://125.212.193.90:2016///img/56c2f891890dd.png");
}
.create-event .event-important i.icon-og_goal,
.box-reviewlive table tr td i.icon-og_goal {
    background: url("http://125.212.193.90:2016///img/56c2f891890dd.png");
}
.create-event .event-important i.icon-pen,
.box-reviewlive table tr td i.icon-pen {
    background: url("http://125.212.193.90:2016///img/56c2f860d4ea3.png");
    background-position: 0 -282px;
    background-size: inherit !important;
}
.create-event .event-important i.icon-miss_pen,
.box-reviewlive table tr td i.icon-miss_pen {
    background: url("http://125.212.193.90:2016///img/56c2f860d4ea3.png");
    background-position: 0 -607px;
    background-size: inherit !important;
}
.create-event .event-important i.icon-yellow_card,
.box-reviewlive table tr td i.icon-yellow_card {
    background: url("http://125.212.193.90:2016///img/56c2f860d4ea3.png");
    background-position: 0 -207px;
    background-size: inherit !important;
}
.create-event .event-important i.icon-2yellow_card,
.box-reviewlive table tr td i.icon-2yellow_card {
    background: url("http://125.212.193.90:2016///img/56c2f860d4ea3.png");
    background-position: 0 -255px;
    background-size: inherit !important;
}
.create-event .event-important i.icon-red_card,
.box-reviewlive table tr td i.icon-red_card {
    background: url("http://125.212.193.90:2016///img/56c2f860d4ea3.png");
    background-position: 0 -232px;
    background-size: inherit !important;
}

.create-event .logo img {
    width: 100%;
}

.create-event .logo .vs img {
    margin-top: 141%;
}

.create-event table tbody tr:hover > td {
    background-color: #FFF;
}

.create-event .timeline:before {
    margin-top: 30px;
}

.create-event .timeline iframe,
.popup-edit-event .modal-body form {
    max-width: 100%;
}

.create-event .timeline .tl-content .panel-body {
    max-height: 500px;
    overflow: auto;
}

.create-event table tbody tr td label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.popup-edit-event form,
#addLive .modal-body form,
#editLive .modal-body form {
    display: inline-block;
}

#button_review_live .modal-dialog {
    width: 70%;
}

#button_review_live .modal-dialog .modal-body {
    width: 100%;
    display: inline-block;
}

#button_review_live .modal-dialog form {
    display: none;
    width: 100%;
}

#button_review_live .publish {
    float: right;
}
/* end Live: hoanghung */


/* Post :duc */

.new-posts .category .panel-body table tr td label {
    height: 21px;
    overflow: hidden;
    cursor: pointer;
    text-align: -webkit-auto;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



/* end Post :duc */